[Unit]
Description=Check Delphi Arena production reliability every minute

[Timer]
OnBootSec=1min
OnUnitActiveSec=1min
RandomizedDelaySec=0
AccuracySec=5s
Persistent=true

[Install]
WantedBy=timers.target
